<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="../db/posts.json"></script>
</head>


<body>

	<h2>(ONE) LAST TWEET:</h2>


		<!-- single last tweet -->
	<p id="tweet"></p>
		<script type="text/javascript">
		var posts = data.items

		posts.forEach(function(elm) {
			document.getElementById("tweet").innerHTML =
			elm.item_data.tweet + "<br />";
		});
		</script>


<h2>ALL TWEETS:</h2>

		<!-- all tweets -->
	<p id="tweets"></p>
		<script type="text/javascript">
		tweets = document.getElementById("tweets");
		var posts = data.items

		posts.forEach(function(elm) {
			tweets.innerHTML = tweets.innerHTML + elm.item_data.tweet + "<br />";
	
		});	
		</script>





</body>


</html>
